body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 40px;
}

a {
  color: rgba(20, 90, 222);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
ul,
ol {
  line-height: 1.75;
  margin: 20px 0;
}

table {
  /* border-collapse: collapse; */
  /* empty-cells: hide; */
  border-spacing: 10px;
  table-layout: fixed;
  width: 100%;
}

table caption {
  margin: 10px 0;
  caption-side: bottom;
}

table th,
table td {
  padding: 10px 12px;
}

table td > a {
  display: block;
  margin: 5px;
}

table tbody > tr:first-child > th {
  background-color: aquamarine;
  margin: 20px 0 0;
}

table tbody > tr > th:first-child {
  background: transparent;
  text-align: right;
  width: 180px;
}

table tbody > tr:nth-child(odd) > td {
  background-color: #f0f0f0;
}

code.tag::before {
  content: "<";
}

code.tag::after {
  content: ">";
}
